<%- include('header') -%>
    <p>It is a EJS(Embedded JavaScript) dynamic template</p>
    Random number with ejs template: <%= Math.random() %>
    <br>
    <%= content %>
    <br>
    <%- content2 %>

<%- include('footer') -%>